*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    width: 100%;
    padding: 0;
}
body{
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}
header {
    position: sticky;
    top: 0;
    z-index: 10; /* Не так высокое значение как в "фиксированном" варианте, но всё же выше обычного контента */
}
.header-contacts{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: black;
    height: 29px;
}
.header-contacts-p{
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 15px;
}
.logo{
    height: 36px;
    width: 160px;
    padding-left: 11px;
    padding-top: 15px;
}
.header-img{
    height: 18px;
    width: 18px;
    row-gap: 20px;
    float: right;
}
.header-img-div{
    display: inline-flex;
    align-items: center;
    width: 51px;
    gap: 20px;
    padding-right: 20px;
}
.header-nav{
    display: flex;
    text-align: center;
}
.header-ul{
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 23px;
}
.header-main{
    background-color: white;
    height: 67px;
    display: flex;
    justify-content: space-between;
}
.header-link{
    height: 67px;
    color: black;
    text-decoration: none;
}
.header-link:hover{
    color: grey;
}
.header-list{
    width: auto;
}
.main-hello{
    background-image: url('vycl.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-hello-main{
    padding-top: 53px;
}
.main-hello-h{
    font-size: 44px;
    line-height: 51px;
    font-weight: normal;
    text-align: center;
}
.main-hello-p{
    padding-top: 14px;
    padding-bottom: 22px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 19px;
    font-weight: normal;
    text-align: center;
}
.main-hello-button{
    display: flex;
    justify-content: center;
    gap: 12px;
    text-align: center;
}
.main-hello-button-1{
    width: 201px;
    height: 33px;
    background-color: #FF4A32;
    color: white;
    border-radius: 55px;
    border: none;
}
.main-hello-button-1:hover{
    background-color: #ffac0a;
}
.company-list{
    background-color: black;
    min-height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.company-list-img{
    width: 240px;
    height: 48px;
}
.vopros{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.molniya{
    height: 50px;
    width: 50px;
}
.vopros-img-1{
    background-image: url("skeyt.png");
    background-repeat: no-repeat;
    background-size: 580px 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vopros-img-2{
    background-image: url("samokat.png");
    background-repeat: no-repeat;
    background-size: 580px 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vopros-img-text{
    color: white;
    text-align: center;
}
.vopros-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 70px;
}

.vopros-img{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 580px;
    max-width: 1180px;
    padding-bottom: 20px;
}
.vopros-text h2{
    font-size: 32px;
    line-height: 36px;
    font-weight: normal;
    padding-top: 52px;
}
.vopros-text p{
    font-size: 15px;
    line-height: 19px;
    padding-top: 17px;
    max-width: 685px;
}
.vopros-text{
    display: flex;
    align-items: center;
}
.vopros-img-text h5{
    font-size: 25px;
    line-height: 30px;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 14px;
}
.vopros-img-text p{
    font-size: 18px;
    line-height: 23px;
}
.shop{
    background: url("shop.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 80px);
    color: black;
}
.shop-text{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.shop-text p{
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 19px;
    max-width: 488px;
}
.shop-text h1{
    text-align: center;
    padding-top: 11px;
    padding-bottom: 15px;
    font-size: 45px;
    line-height: 51px;
}
.shop-text-p{
    padding-top: 44px;
}
.boosted-in{
    padding-block: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}
.boosted-text{
    max-width: 340px;
}
.boosted-img{
    display: flex;
    gap: 20px;

    max-width: 780px;
}
.boosted-img img{
    height: 380px;
    width: 380px;
}
.boosted-text p{
    padding-bottom: 10px;
    max-width: 339px;
}
.shop-list{
    display: flex;
    flex-direction: row;
    height: 480px;
    color: white;
}
.shop-stealth{
    background-image: url("shop-list-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.shop-stealth h3{
    text-align: center;
    padding-bottom: 15px;
    font-size: 25px;
    line-height: 30px;
    font-weight: normal;
}
.shop-stealth p{
    text-align: center;
    font-size: 18px;
    line-height: 23px;

}
.shop-plus{
    background-image: url("shop-list-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.shop-plus h3{
    text-align: center;
    padding-bottom: 15px;
    font-size: 25px;
    line-height: 30px;
    font-weight: normal;
}
.shop-plus p{
    text-align: center;
    font-size: 18px;
    line-height: 23px;

}
.shop-mini{
    background-image: url("shop-list-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shop-mini h3{
    text-align: center;
    padding-bottom: 15px;
    font-size: 25px;
    line-height: 30px;
    font-weight: normal;
}
.shop-mini p{
    text-align: center;
    font-size: 18px;
    line-height: 23px;

}
.video{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.video iframe{
    max-width: 540px;
    padding-block: 60px;
}

.buy{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buy-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 0.3s ease-out;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.slider-container {
}

.buy-price{
    width: 70px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
}

.buy-price:hover{
    background-color: lightgrey;
}

.buy-box{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 200px;
}
.buy-box img{
    width: 186px;
}

.slaider-button{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    border: none;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
}

.buy-p{
    padding-top: 20px;
    padding-bottom: 10px;
    color: #FF4A32;
}

.buy-poloska{
    background-color: white;
    opacity: 0.9;
    height: 66px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.list-black{
    background-color: black;
    color: white;
    height: 308px;
}
.footer-list{
    height: 308px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer-item img{
    width: 87px;
    height: 87px;
}

.footer-item h2{
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 25px;
}

.footer-item p{
    font-size: 15px;
    line-height: 22px;
    max-width: 287px;
}

.about-icon{
    width: 160px;
    height: 134px;
    padding-top: 50px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 329px;
    background-color: #F7F7F7;
}

.about-list{
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style-type: none;
}

.about-item a{
    font-size: 13px;
    line-height: 21px;
    color: black;
    text-decoration: none;
    height: 21px;
}

.about-item a:hover{
    color: grey;
}

.about-spisok{
    display: flex;
    flex-direction: column;
    padding-block: 50px;
    gap: 10px;
}

.about-text p{
    max-width: 367px;
}

.about-padding{
    display: flex;
    justify-content: space-between;
    gap: 240px;
    padding-inline: 130px;
}

.about-text{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 12px;
}

.about-text p{
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 19px;
}

.about-adres p{
    font-size: 13px;
    line-height: 21px;
    padding: 0;
}

.card{
    display: flex;
    flex-direction: row;
    min-height: 70px;
}

.card-text{
    padding-left: 120px;
    padding-top: 19px;
}

.card-list{
    width: 412px;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 130px;
    flex-direction: row;
}
.card-orange{
    color: orangered;
}

.about-padding h3{
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
}

@media (max-width: 1300px){
    .boosted-in{
        flex-direction: column;
    }
    .video{
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .list-black{
        height: 450px;
    }
    .footer-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px;
    }
    .company-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
        grid-column-gap: 18px;
        grid-row-gap: 20px;
        border: 1px solid red;
        justify-content: center;
        gap: 20px;
        padding-block: 10px;
    }
    .about-padding{
        flex-direction: column;
        gap: 0;
        padding-bottom: 20px;
    }
}
@media (max-width: 800px){
    .boosted-img{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo{
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .header-ul{
        padding-inline: 5px;
    }
    .header-main{
        height: 90px;
        padding-block: 20px;
        flex-direction: column;
        align-items: center;
    }
    .header-link{
        font-size: 12px;
    }
    .list-black{
        height: 500px;
    }
    .footer-list{
      padding-top: 20px;
    }
    .main-hello-button{
        align-items: center;
        flex-direction: column;
    }
    .about-adres p {    
    }
}